.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #3E3175;
    list-style: none;
    li {
        display: inline-block;
        padding: 0px 20px;
    }
}